.list-approve {
    list-style: none;
    display: block;
    clear: both;
}

.list-approve .item {
    margin: 5px 3px;
    background-color: #fff;

    border: solid  1px #ccc;
    list-style: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding:10px 3px 10px 3px;
    width: 98%;
}

.list-approve .line-dashed {
    border-bottom: solid 1px #ccc;
    height: 3px;

}

.list-approve .text-status-pending {
    color: #00a157;
}
.list-approve .text-status-success {
    color:#0a0a0a;
}

.list-approve .name {
    font-size: 13px;
}

.list-approve .date {
    font-size: 11px;
}

.list-approve .position {
    font-size: 11px;
}

.list-approve .seq {

}

.list-approve .text-rejected {
    color: #ff1d3f;
}

.list-approve .text-approved {
    color: #0b93d5;
}

.list-approve .bg-approved {
   background-color: #e6fec5;
    border: solid 1px #008040;
}
.list-approve .bg-rejected {
    background-color: #fef1f3;
    border: solid 1px #ff6f6f;

}
.list-approve .bg-pending {
    background-color: #ffffff;
    border: solid 1px #575757;

}